<!DOCTYPE html>
<html>
  <head>
    <title>Rails Styled Components Getting Started</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
